// import de variables
@import "../utilidades/variables";

// import mixin
@import "../utilidades/mixin";

/* estilos del html inicio */
.contenedor-inicio{
    @include grid-base-centrado;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.5fr 0.25fr 0.25fr 0.25fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
        "titulo-inicio"
        "img-inicio"
        "subtitulo-inicio"
        "botones-plataformas-inicio"
        "botones-redes-sociales-inicio";

    .titulo-inicio {         
        grid-area: titulo-inicio;
        margin: 0;
        }
  
    .subtitulo-inicio { 
        grid-area: subtitulo-inicio; 
        }
  
    .img-inicio { 
        grid-area: img-inicio;
            .logo-dos-inicio{
                max-width: 250px;
                transform: scale(var(--escala, 1));
                transition: transform 0.25s;}
                    .logo-dos-inicio:hover{
                        --escala: 1.1; cursor:pointer;   
                }
        }
  
    .botones-plataformas-inicio { 
        grid-area: botones-plataformas-inicio;
        display: grid;
        grid-template-columns: 110px 110px;
        grid-template-rows: repeat(3, 40px);
        justify-content: center;
        align-items: center;
        width: 110px;
        gap: 10px;
        padding: 20px;
        }

    .botones-redes-sociales-inicio {     
        grid-area: botones-redes-sociales-inicio;
        display: grid;
        padding: 20px;
        .button{
            display: inline-block;
            height: 60px;
            width: 60px;
            margin: 0 5px;
            background: aliceblue;
            overflow: hidden;
            border-radius: 50px;
            cursor: pointer;
            box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
            transition: all 0.3s ease-out;
            }
        .button:hover{
            width: 200px;
                }
        .button .icon{
            display: inline-block;
            height: 60px;
            width: 60px;
            text-align: center;
            border-radius: 50px;
            box-sizing: border-box;
            line-height: 60px;
            transition: all 0.3s ease-out;
        }
            .button:nth-child(1):hover .icon{
                background: #4267B2;
            }
            .button:nth-child(2):hover .icon{
                background: #1DA1F2;
            }
            .button:nth-child(3):hover .icon{
                background: #E1306C;
            }
            .button:nth-child(4):hover .icon{
                background: #6441a5;
            }
            .button:nth-child(5):hover .icon{
                background: #ff0000;
            }
            .button .icon i{
                font-size: 25px;
                line-height: 60px;
                transition: all 0.3s ease-out;
            }
            .button:hover .icon i{
                color: #fff;
            }
                .button span{
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 60px;
                    margin-left: 10px;
                    transition: all 0.3s ease-out;
                    }
                    .button:nth-child(1) span{
                        color: #4267B2;
                        }
                    .button:nth-child(2) span{
                        color: #1DA1F2;
                        }
                    .button:nth-child(3) span{
                        color: #E1306C;
                        }
                    .button:nth-child(4) span{
                        color: #333;
                        }
                    .button:nth-child(5) span{
                        color: #ff0000;
                        }
                    }
                }