// import de variables
@import "../utilidades/variables";

// import mixin
@import "../utilidades/mixin";

/* estilos del html juegos */
.contenedor-juegos{
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: repeat(6, 200px);
    grid-gap: 20px;
    img{
        border-radius: 20px;
    }

}