/* estilos del html plataformas */
.botones-plataformas{
    display: grid;
    grid-template-columns: 110px 110px;
    grid-template-rows: repeat(3, 40px);
    justify-content: center;
    align-items: center;
    width: 110px;
    gap: 10px;
}

.carousel-plataformas{
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: repeat(4, 200px);
    margin: 20px;
    grid-gap: 20px;

}

.carousel-inner{
    border-radius: 20px;
}